<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans>
        <bean id="sampleConfiguration" class="com.fusion.app.SampleConfiguration" />
        <bean id="homeController" class="com.fusion.app.controller.HomeController" scope="prototype"/>
        <bean id="proxyComponent" class="com.fusion.app.controller.ProxyComponent" scope="prototype"/>
        <bean id="none-proxyComponent" class="com.fusion.app.controller.NoneProxyComponent" scope="prototype"/>
    </beans>

</beans>